services:
  - type: web
    name: poker-crm-backend
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3333
      - key: NODE_OPTIONS
        value: --max-old-space-size=2048
